@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import "libs/variables.scss";
@import "libs/mixins.scss";
@import "base/typography.scss";
@import "base/base.scss";
@import "libs/Layouts/header.scss";
@import "libs/Layouts/footer.scss";
@import "compenents/buttons.scss";

// Fonctionnement //

.container_fonctionnement { // pour positionner titre et les 3 choix
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: $color-white;
  width: auto;
}

.container_choice { // pour positionner les 3 choix
  display: flex;
  flex-direction: column;
  @include tablet {
    // media queries
    font-size: 1.4rem;
    flex-direction: row;
    justify-content: space-around;
  }
}

.choice { // encadré blanc de chaque choix
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 336px;
  height: 74px;
  border-radius: 20px;
  background: $primaire-color;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 24px;
  text-align: center;
  @include tablet {
    align-items: center;
    max-width: 170px;
    height: 150px;
    margin: 15px;
    padding: 15px;
    text-align: center;
    &.choice i {
      display: none;
    }
  }
}
.choice_pink {
  // 3ème choix fonctionnement
  background: #f2eafb;
}

.choice i {
  padding: 0px 30px 0px 40px; // pour placer l'icone et le texte des 3 choix
}
:nth-child(1) i {
  font-size: 1.2em;
}

.circle_number {
  position: absolute;
  top: 25px;
  left: -15px;
  @include tablet {
    top: -14.4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% + 30px); // pour centrer le cercle violet et le chiffre à à chaque cadre des 3 choix
  }
}

.circle {
  position: absolute;
  z-index: 4;
  width: 28.8px;
  height: 28.8px;
  border-radius: 50%;
  background-color: $color-circle;
}

.number {
  font-size: 0.85rem;
  font-weight: 400;
  position: absolute;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28.8px;
  height: 28.8px;
  color: $color-white;
}

.titre_fonctionnement {
  margin: 40px 0px 20px 0;
  align-self: flex-start;
}

// Restaurant /

.container-restaurants { // contient les 4 cards restaurant + titre
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 40px 20px;
  background-color: $primaire-color;
}

.cards { // pour les 4 cars
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  @include tablet {
    width: calc((336px + 20px) * 2); // pour affichage par 2 et tille differentes
    margin: auto;
  }
}

.card {// card unique
  display: flex;
  overflow: hidden;
  align-self: center;
  width: 336px;
  height: 255px;
  margin: 10px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 15px;
  background-color: $color-white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.card_photo {
  position: relative;
  overflow: hidden;// pas de dépassement
  height: 180px;
}

.card_photo img {
  width: 100%;
}

.card_infos { // nom + ville
  position: relative;
  margin: 15px;
  line-height: 0.5;
}

.card_name {
  padding-bottom: 5px;
}

.card_city {
  font-weight: 300;
}

.card_favorite { // posionnement coeur
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
}

.card_label { // petite étiquette "nouveau"
  font-size: 0.85rem;
  font-weight: 500;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  color: $color-new;
  background-color: $color-footer;
}

.titre-h2 {
  align-self: flex-start;
  margin: 20px 0 20px 20px;
}

.button_1 {
  @include btn;
}

/// Fin Page Home ///

// Menu //

img { //image restau
  width: 100%;
  height: 270px;
  @include tablet {
    height: 400px;
  }
}
.button_back { // fleche retour
  font-size: 1.3rem;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin: 12px;
  border: 0 solid #eaeaea;
  border-radius: 50%;
}

.menus { // Titre + plats + Btn
  position: relative;
  display: flex;
  flex-direction: column;
  transform: translateY(-50px);
  border-radius: 42px 42px 0 0;
  background-color:$primaire-color;
  @include tablet {
    padding: 40px 30px;
  }
}

.top_menu { // Titre + Coeur
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  letter-spacing: 0.07rem; // interlettre
  justify-content: space-between;
}

.card_favorite { // coeur
  margin: 0 15px;
  color: #000000;
}

.choix_plat { // entrees / plats / desserts
  margin-bottom: 32px;
}

.choix_plat .titre {
  font-weight: 200;
  color: #000000;
  margin-left: 10px;
}

.choix_plat .trait { // petite ligen verte
  width: 40px;
  height: 3px;
  margin: 5px 0 12px 0;
  background-color: #99e2d0;
  margin-left: 10px;
}

.plat { // cadre blanc de chaque plat
  position: relative;
  top: 45px;
  overflow: hidden;
  margin-bottom: 12px;
  padding: 12px;
  animation: move-card 2s cubic-bezier(0, 0, 0, 1) forwards; // animation crée et qui s'arrete sur image de fin
  opacity: 1;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
@keyframes move-card {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(-45px); // permet de faire animer tous les plats lors de l'ouverture de la fenêtre  et petit plus de me les positionner sur l'axe y correctement :)
    opacity: 1;
  }
}


.plat_nom { //nom plats
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.8rem;
  width: calc(100% - 60px);
}

.plat_ligne2 { // ingrédients + prix
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 15px;
  transition: width 400ms, text-overflow 400ms, margin-right 400ms,
    overflow 400ms;
}

.plat_info { // ingrédients
  font-size: 1rem;
  font-weight: 300;
  overflow: hidden;
  transition: width 400ms, text-overflow 400ms;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.plat_prix { // prix
  font-size: 1rem;
  font-weight: bold;
  transition: margin-right 400ms;
}

.plat_valid { // carré vert + animatation
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  transition-duration: 400ms;
  transform: translateX(60px); // pour que le carré vert soit a droite et ne déborde pas
}

.plat:hover .plat_valid {
  transform: translateX(0px);// POur qu'il apparaissent et reste au bord à droite
}

.plat_valid_bg { // permet d'afficher le carré vert
  width: 60px;
  height: 100%;
  background: #99e2d0;
}

.plat_valid_icon { // positionner l'icone valider à le lié 
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition-duration: 400ms;
  transform: rotate(360deg);
  color: #ffffff;
}
