@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import "libs/variables.scss";
@import "libs/mixins.scss";
@import "libs/base/typography.scss";
@import "libs/base/base.scss";
@import "libs/Layouts/header.scss";
@import "libs/Layouts/footer.scss";




     
   /////////////

   .container_fonctionnement {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #FFFFFF;
    width: auto;
   }

   .container_choice {
    display: flex;
    flex-direction: column;
  @include tablet { // media queries 
    font-size: 1.4rem;
    flex-direction: row;
    justify-content: space-around;
  }
}

.choice {
  font-weight: 500;
  position: relative;
  display: flex;
  width: 336px;
  height: 74px;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15); 
  margin-bottom: 24px;
@include tablet {
    align-items: center;
    max-width: 170px;
    height: 150px;
    margin: 15px;
    padding: 15px;
    text-align: center; }
    &.choice i {
      display: none;
     } 
}
.choice_pink{
  background: #f2eafb;
}

.choice i {
  padding: 0 80em 0 0;
}

.choice:nth-child(1) i {
  font-size: 1.3rem; }

.circle_number {
    position: absolute; 
    @include tablet {
    top: -14.4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 30px);}
}

.circle {
  position: absolute;
  z-index: 4;
  width: 28.8px;
  height: 28.8px;
  border-radius: 50%;
  background-color: #9356DC;
}  
     
.number {
  font-size: 0.85rem;
  font-weight: 400;
  position: absolute;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28.8px;
  height: 28.8px;
  color: #FFFFFF; 
}

   
    

////////

    .container-restaurants {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 20px 20px 40px 20px;
      background-color: #F6F6F6; 
    }
    
    .cards{
      display: flex;
        flex-flow: row wrap;
        justify-content: flex-start
    }
    
    .card {
      display: flex;
          overflow: hidden;
          align-self: center;
          width: 336px;
          margin: 10px;
          margin-bottom: 10px;
          position: relative;
          border-radius: 15px;
          background-color: #FFFFFF;
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    }
    
    .card_photo {
      
      height: 180px;
    }
    
    .card_photo img {
      width: 100%;
    }
    
    .cards .card_infos {
      position: relative;
      margin: 15px; }
     

  
     
         .button_1 {
           @include btn
         }
                       
          
           
            