@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* a voir dans mes variables je pense*/
h1 {
  font-weight: 600;
  font-size: 1.5rem;
}

h2,
h3,
p,
li,
div,
a {
  font-family: "Roboto", sans-serif;
}

h4 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}

.top_menu h4 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
  margin-left: 15px;
}

a,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: #000000;
}

footer a:visited,
a:link,
a:active {
  text-decoration: none;
  color: #ffffff;
}
footer a:visited:hover,
a:link:hover,
a:active:hover {
  color: #99e2d0;
}

body {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #f6f6f6;
}

.main {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 1023px) {
  .main {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
  }
}
@media all and (min-width: 1400px) {
  .main {
    grid-template-columns: 1.2fr 3.5fr;
  }
}

.container_para {
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 4em;
  padding-bottom: 3em;
  line-height: 1em;
  color: black;
}
.container_para--tablet {
  display: none;
}
.container_para--mobile {
  display: block;
}
@media all and (min-width: 1023px) {
  .container_para--mobile {
    display: none;
  }
  .container_para--tablet {
    display: block;
  }
}
.container_para.container_para h1 {
  display: inline-block;
  line-height: 1.2;
  width: 65%;
  text-align: center;
  overflow: auto;
}
.container_para .p_para {
  display: inline-block;
  margin: auto;
  font-size: 1.1rem;
  line-height: 1.2;
  width: 85%;
  text-align: center;
  overflow: auto;
  padding-bottom: 2em;
}

.button_1 {
  margin-top: 20px;
}

.coeur1 {
  transform: scale(0);
  background: -webkit-linear-gradient(175deg, #ff79da 10%, #9356dc 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coeur1 {
  font-size: 24px;
  position: absolute;
  z-index: 1;
}

.coeur2 {
  color: #000000;
  font-size: 24px;
  position: absolute;
  z-index: 2;
}

.coeur2:hover {
  transition: transform 250ms ease;
  animation: grow-plus 250ms;
}

.coeur2:hover + .coeur1 {
  transition: transform 250ms ease;
  animation: grow 250ms;
  animation-fill-mode: forwards;
}

.coeur3 {
  font-size: 24px;
  position: absolute;
  z-index: 3;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes grow-plus {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

header {
  display: flex;
  background-color: #ffffff;
  position: relative;
}

.container_header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 62px;
  box-shadow: 0 50px 10px 0 rgba(0, 0, 0, 0.06);
}

.container_header img {
  width: auto;
  height: 30px;
}

.localisation_header {
  display: flex;
  align-items: center;
  color: #000000;
  height: 50px;
  position: absolute;
  margin: 15px;
  top: 50px;
}

.localisation_header i {
  margin-right: 10px;
}

footer {
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 25px 35px 25px;
  color: #ffffff;
  background-color: #353535;
}
@media all and (min-width: 700px) {
  footer {
    padding: 40px;
  }
}

.logo_footer {
  padding-bottom: 10px;
  align-self: flex-start;
}
@media all and (min-width: 700px) {
  .logo_footer {
    padding-bottom: 15px;
  }
}

.logo_footer img {
  width: auto;
  height: 20px;
  padding-left: 0px;
}

.footer_menu {
  line-height: 27px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media all and (min-width: 700px) {
  .footer_menu {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer_menu i {
  font-size: 0.9rem;
  margin-right: 10px;
}

.footer_menu .logo {
  width: 100%;
  max-width: 1100px;
}

footer a {
  color: #ffffff;
}

.container_fonctionnement {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  width: auto;
}

.container_choice {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 700px) {
  .container_choice {
    font-size: 1.4rem;
    flex-direction: row;
    justify-content: space-around;
  }
}

.choice {
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 336px;
  height: 74px;
  border-radius: 20px;
  background: #f6f6f6;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 24px;
  text-align: center;
}
@media all and (min-width: 700px) {
  .choice {
    align-items: center;
    max-width: 170px;
    height: 150px;
    margin: 15px;
    padding: 15px;
    text-align: center;
  }
  .choice.choice i {
    display: none;
  }
}

.choice_pink {
  background: #f2eafb;
}

.choice i {
  padding: 0px 30px 0px 40px;
}

.choice text {
  align-self: center;
}

:nth-child(1) i {
  font-size: 1.2em;
}

.circle_number {
  position: absolute;
  top: 25px;
  left: -15px;
}
@media all and (min-width: 700px) {
  .circle_number {
    top: -14.4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 30px);
  }
}

.circle {
  position: absolute;
  z-index: 4;
  width: 28.8px;
  height: 28.8px;
  border-radius: 50%;
  background-color: #9356dc;
}

.number {
  font-size: 0.85rem;
  font-weight: 400;
  position: absolute;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28.8px;
  height: 28.8px;
  color: #ffffff;
}

.titre_fonctionnement {
  margin: 40px 0px 20px 0;
  align-self: flex-start;
}

.container-restaurants {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 40px 20px;
  background-color: #f6f6f6;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
@media all and (min-width: 700px) {
  .cards {
    width: calc((336px + 20px) * 2);
    margin: auto;
  }
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
@media all and (min-width: 700px) {
  .cards {
    width: calc((336px + 20px) * 2);
    margin: auto;
  }
}

.card {
  display: flex;
  overflow: hidden;
  align-self: center;
  width: 336px;
  height: 255px;
  margin: 10px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.card_photo {
  position: relative;
  overflow: hidden;
  height: 180px;
}

.card_photo img {
  width: 100%;
}

.card_infos {
  position: relative;
  margin: 15px;
  line-height: 0.5;
}
.card_infosh3 {
  margin: 0;
}

.card_name {
  padding-bottom: 5px;
}

.card_city {
  font-weight: 300;
}

.card_favorite {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
}

.card_label {
  font-size: 0.85rem;
  font-weight: 500;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  color: #278870;
  background-color: #99e2d0;
}

.titre-h2 {
  align-self: flex-start;
  margin: 20px 0 20px 20px;
}

.button_1 {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 220px;
  height: 52px;
  border-radius: 30px;
  border: none;
  text-align: center;
  color: white;
  font-size: 1rem;
  background: linear-gradient(175deg, #ff79da 10%, #9356dc 90%);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 150ms linear, transform 150ms linear;
}
.button_1:hover {
  transform: scale(0.98);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
}
.button_1:active {
  transform: scale(0.97);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
}

img {
  width: 100%;
  height: 270px;
}
@media all and (min-width: 700px) {
  img {
    height: 400px;
  }
}

.button_back {
  font-size: 1.3rem;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin: 12px;
  border: 0 solid #eaeaea;
  border-radius: 50%;
}

.menus {
  position: relative;
  display: flex;
  flex-direction: column;
  transform: translateY(-50px);
  border-radius: 42px 42px 0 0;
  background-color: #f6f6f6;
}
@media all and (min-width: 700px) {
  .menus {
    padding: 40px 30px;
  }
}

.top_menu {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  letter-spacing: 0.07rem;
  justify-content: space-between;
}

.card_favorite {
  margin: 0 15px;
  color: #000000;
}

.choix_plat {
  margin-bottom: 32px;
}

.choix_plat .titre {
  font-weight: 200;
  color: #000000;
  margin-left: 10px;
}

.choix_plat .trait {
  width: 40px;
  height: 3px;
  margin: 5px 0 12px 0;
  background-color: #99e2d0;
  margin-left: 10px;
}

/*.plats {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: calc(100% + 10px + 10px);
            margin-left: -10px;
             }*/
.plat {
  position: relative;
  top: 45px;
  overflow: hidden;
  margin-bottom: 12px;
  padding: 12px;
  animation: move-card 1s cubic-bezier(0, 0, 0, 1) forwards;
  opacity: 1;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

@keyframes move-card {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(-45px);
    opacity: 1;
  }
}
.choix_plat .plat--1 {
  animation-delay: 0.16667s;
}

.choix_plat .plat--2 {
  animation-delay: 0.33333s;
}

.choix_plat .plat--3 {
  animation-delay: 0.5s;
}

.choix_plat .plat--4 {
  animation-delay: 0.66667s;
}

.choix_plat .plat--5 {
  animation-delay: 0.83333s;
}

.choix_plat .plat--6 {
  animation-delay: 1s;
}

.choix_plat .plat--7 {
  animation-delay: 1.16667s;
}

.choix_plat .plat--8 {
  animation-delay: 1.33333s;
}

.choix_plat .plat--9 {
  animation-delay: 1.5s;
}

.choix_plat .plat--10 {
  animation-delay: 1.66667s;
}

.plat_nom {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.8rem;
  width: calc(100% - 60px);
}

.plat_ligne2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 15px;
  transition: width 400ms, text-overflow 400ms, margin-right 400ms, overflow 400ms;
}

.plat_info {
  font-size: 1rem;
  font-weight: 300;
  overflow: hidden;
  transition: width 400ms, text-overflow 400ms;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.plat_prix {
  font-size: 1rem;
  font-weight: bold;
  transition: margin-right 400ms;
}

.plat_valid {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  transition-duration: 400ms;
  transform: translateX(60px);
}

.plat:hover .plat_valid {
  transform: translateX(0px);
}

.plat_valid_bg {
  width: 60px;
  height: 100%;
  background: #99e2d0;
}

.plat_valid_icon {
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition-duration: 400ms;
  transform: rotate(360deg);
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
